.popupzone{position:fixed; left:0; top:0; bottom:0; right:0; width:100%; height:100vh; opacity:0; visibility:hidden; -webkit-transition:all 0.5s ease; transition:all 0.5s ease; z-index: 999; background:rgba(19,24,33,0.85); font-family: 'SCDream';}
.popupzone .popupzone_wrap{position:relative; width:calc(100% - 10.5rem); height:100%; margin:auto; text-align: center; }
.popupzone .group{position:absolute; top:50%; left:50%; width:100%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); }
.popupzone .popupzoneLst_wrpper{position:relative; width: 62rem; margin:auto; }
.popupzone h2.title{display:block; margin-bottom: 3rem; line-height: 1.4; font-size:3rem; font-family:"SCDream"; font-weight:600; color:#fff; }
.popupzone h2.title > strong{display:inline-block; font-size:2rem; font-weight:900; background:#1b68db;
  background: -ms-linear-gradient(277deg, #1b68db 0%, #72c1ff 100%);
  background:-moz-linear-gradient(277deg, #1b68db 0%, #72c1ff 100%);
  background:-o-linear-gradient(277deg, #1b68db 0%, #72c1ff 100%);
  background:-webkit-gradient(linear, right top, left bottom, color-stop(0, #1b68db), color-stop(100, #72c1ff)); 
  background: -webkit-linear-gradient(277deg, #1b68db 0%, #72c1ff 100%);
  background: linear-gradient(277deg, #1b68db 0%, #72c1ff 100%);
  filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#1b68db', endColorstr='#72c1ff', GradientType=1); 
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;}
.popupzone .popupzoneLst_wrap{position:relative; margin: 0 -1rem; }
.popupzone #popupzoneLst{width:100%; }
.popupzone #popupzoneLst .slider_wrap{padding: 0 1rem;}
.popupzone #popupzoneLst .slider_wrap > a{display:block; height: 21.35rem; overflow:hidden;}
.popupzone #popupzoneLst .slider_wrap .img{position:relative; width:100%; height:100%; }
.popupzone #popupzoneLst .slider_wrap .img > span {display: block; width: 100%; height: 100%; background-color: #eee; background-size: contain; background-position: center; background-repeat: no-repeat;-webkit-transition:all .3s; transition:all .3s;  }
.popupzone .item > a{position:absolute; top: -0.3rem; left: 0;}
.popupzone .item > a .popup-countW{position:relative; padding:1rem 0; border-radius:50%; background:-webkit-gradient(linear, left top, left bottom, color-stop(20%, #06cecc), to(#1177ff)); background:linear-gradient(to bottom, #06cecc 20%, #1177ff 100%); width:5rem; height:5rem; line-height:1; font-family:"SCDream"; font-size:1rem; text-align:center; font-weight:600; color:#fff; letter-spacing:-.05rem; z-index:1; }
.popupzone .item > a .popup-countW > i{display:block; margin-bottom:.5rem; -webkit-transition: all .5s ease; transition: all .5s ease; }
.popupzone .item > a .popup-countW > strong{display:inline-block; margin-left:.25rem; color:#fdc005; }
.popupzone .item > a .circle{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); height:5.75rem; width:5.75rem; border-radius:50%; background-color:rgba(255,255,255,.18); }
.popupzone .item > a .circle:before,
.popupzone .item > a .circle:after{content:""; position:absolute; width:100%; height:100%; left:50%; top:50%; border-radius:50%; background-color:rgba(255,255,255,.18); -webkit-transform:translate(-50%, -50%) scale(.1); transform:translate(-50%, -50%) scale(.1); opacity:0; -webkit-animation:active 2s infinite linear; animation:active 2s infinite linear;}
.popupzone .item > a .circle:after{-webkit-animation-delay:.3s; animation-delay:.3s; }
.popupzone .control a.slick_arr{position:absolute; top:50%; font-size:1.5rem; color:#fff; -webkit-transform:translateY(-50%); transform:translateY(-50%); }
.popupzone .control a.slickPrev{left: -3rem;}
.popupzone .control a.slickNext{right: -3rem;}
.popupzone .control a.slick_arr i{-webkit-transition:transform .3s; transition:transform .3s; }
.popupzone .popupzone_wrap .item2 {margin-top: 3rem;}
.popupzone .popupzone_wrap .item2 .label{ display:inline-block; margin: 0 0.3rem 0.5rem; padding: 0 1.5rem; border-radius:3rem; background-color:#0e1625; line-height:3rem; color:#fff; font-size:1rem; }
.popupzone .popupzone_wrap .item2 .label span{color:#fdc005; font-weight:600; }
.popupzone .popupzone_wrap .item2 a i{margin-left: 1.25rem; -webkit-transition:transform .3s; transition:transform .3s; }
.popup-open_wrap{position:fixed; top:57%; left:43%; display:none; height:680px; z-index:1; -webkit-transform:translateX(-545px) translateY(-50%); transform:translateX(-545px) translateY(-50%); }
.popup-open_wrap .popup-open{position:absolute; top:-1.25rem; left:-5.75rem; z-index:1; }
html.popupOpen .popup-open_wrap{display:block; }
.popup-open_wrap .popup-open .popup-countW{position:relative; padding:1rem 0; border-radius:50%; background:-webkit-gradient(linear, left top, left bottom, color-stop(20%, #06cecc), to(#1177fd)); background:linear-gradient(to bottom, #06cecc 20%, #1177fd 100%); width:5rem; height:5rem; line-height:1; font-family:"SCDream"; font-size:1rem; text-align:center; font-weight:600; color:#fff; letter-spacing:-.05rem; z-index:1; }
.popup-open_wrap .popup-open .popup-countW > i{display:block; margin-bottom:.5rem; -webkit-transition: all .5s ease; transition: all .5s ease; }
.popup-open_wrap .popup-open .popup-countW > strong{display:inline-block; margin-left:.25rem; color:#fdc005; }
.popup-open_wrap .popup-open .circle{position:absolute; top:50%; left:50%; -webkit-transform:translate(-50%, -50%); transform:translate(-50%, -50%); height:5.75rem; width:5.75rem; border-radius:50%; background-color:rgba(19, 140, 247, .2); }
.popup-open_wrap .popup-open .circle:before,
.popup-open_wrap .popup-open .circle:after{content:""; position:absolute; width:100%; height:100%; left:50%; top:50%; border-radius:50%; background-color:rgba(19, 140, 247, .2); -webkit-transform:translate(-50%, -50%) scale(.1); transform:translate(-50%, -50%) scale(.1); opacity:0; -webkit-animation:active 2s infinite linear; animation:active 2s infinite linear;}
.popup-open_wrap .popup-open .circle:after{-webkit-animation-delay:.3s; animation-delay:.3s; }
@-webkit-keyframes active {
  0% {
    -webkit-transform:translate(-50%, -50%) scale(.1);
    transform:translate(-50%, -50%) scale(.1);
    opacity: 0;
  }
  50% {
    -webkit-transform:translate(-50%, -50%) scale(.5);
    transform:translate(-50%, -50%) scale(.5);
    opacity: 1;
  }
  100% {
  	-webkit-transform:translate(-50%, -50%) scale(1.5);
    transform:translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

@keyframes active {
  0% {
    -webkit-transform:translate(-50%, -50%) scale(.1);
    transform:translate(-50%, -50%) scale(.1);
    opacity: 0;
  }
  50% {
    -webkit-transform:translate(-50%, -50%) scale(.5);
    transform:translate(-50%, -50%) scale(.5);
    opacity: 1;
  }
  100% {
  	-webkit-transform:translate(-50%, -50%) scale(1.5);
    transform:translate(-50%, -50%) scale(1.5);
    opacity: 0;
  }
}

/* 메인페이지 팝업 */
.ui-widget.ui-widget-content{ font-family: 'SCDream';}
.ui-widget .ui-widget{font-size: 0 !important;}

body > .ui-dialog .ui-dialog-titlebar-close span{top: 0; left: 0;}
body > .ui-dialog .ui-widget-header .ui-icon{background-position:-97px -129px;}
/*
.mainPopup .ui-dialog .ui-dialog-titlebar-close span{top: 0; left: 0;}
.mainPopup .ui-widget-header .ui-icon{background-position:-97px -129px;}
.ui-dialog .ui-dialog-titlebar-close span{top: 0; left: 0;}
.ui-widget-header .ui-icon{background-position:-97px -129px;}
*/
.popClick{display: flex; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd; }
.popClick a{flex: 1; text-align: center; padding: 0.5rem ; transition: 0.15s;}
.popClick a:hover,
.popClick a:focus{font-weight: 700;}
.popClick a i{margin-right: 0.2rem;}



@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .popupzone h2.title > strong{color:#72c0ff; background:transparent; }
}
/* 레이어 팝업존 active */
.popupzone.active{opacity: 1; visibility: visible; }



@media (max-width:1760px){
  .popupzone .popupzone_wrap{width:100%; }
	.popupzone .item > a{left: 2rem;}
	.popupzone #popupzoneLst{width:calc(100% - 4rem); margin:auto; }
	.popupzone .control a.slickPrev{left:0; }
	.popupzone .control a.slickNext{right:0; }
}

@media (max-width:1570px){
  .popupzone .popupzoneLst_wrpper{width:calc(100% - 4rem);}
	.popupzone #popupzoneLst .slider_wrap > a{height:17.5rem; }
}

@media (max-width:1440px){
	.popupzone #popupzoneLst .slider_wrap > a{height:16rem; }
}

@media (max-width:1280px){  
  .popupzone{padding-left:0; }
	.popupzone .item{display:none; }
	.popupzone .popupzone_wrap .item2{margin-top:2.5rem; }
	.popupzone .popupzone_wrap .item2 .label{height:2.5rem; line-height:2.5rem; font-size: 0.85rem;}
  .popup-open_wrap .popup-open{top: 5rem;}
  .popup-open_wrap .popup-open .circle{width: 5rem; height: 5rem;}
  .popup-open_wrap .popup-open .popup-countW{width: 4.25rem; height: 4.25rem; padding: 1rem 0; font-size: 0.85rem;}
}

@media (min-width:769px){
	.popupzone .item > a:hover .popup-countW > i,
	.popupzone .item > a:focus .popup-countW > i,
	.section .popup-open:hover .popup-countW > i,
	.section .popup-open:focus .popup-countW > i{-webkit-transform:rotate(180deg); transform:rotate(180deg); }
	.popupzone #popupzoneLst .slider_wrap a:hover .img > span,
  .popupzone #popupzoneLst .slider_wrap a:focus .img > span {-webkit-transform: scale(1.1); transform: scale(1.1);}
	.popupzone .control a.slickPrev:hover > i,
  .popupzone .control a.slickPrev:focus > i {-webkit-transform:translate(-3px); transform:translate(-3px); }
	.popupzone .control a.slickNext:hover > i,
  .popupzone .control a.slickNext:focus > i {-webkit-transform:translate(3px); transform:translate(3px); }
	.popupzone .popupzone_wrap .item2 a:hover i,
  .popupzone .popupzone_wrap .item2 a:focus i {-webkit-transform:rotate(180deg); transform:rotate(180deg); }
}

@media (max-width:768px){ 
  .popupzone h2.title {margin-bottom: 1.5rem; font-size:1.8rem; }
	.popupzone h2.title > strong{font-size:1.3rem; }
	.popupzone #popupzoneLst .slider_wrap > a{height:15rem; }
}

@media (max-width:600px){
  .popupzone #popupzoneLst .slider_wrap > a{height:14rem; }
  .popup-open_wrap .popup-open .circle{width: 3.5rem; height: 3.5rem;}
  .popup-open_wrap .popup-open .popup-countW{width: 2.75rem; height: 2.75rem; padding: 0.5rem 0; }
}

@media (max-width:480px){
  .popupzone .popupzoneLst_wrpper {width: calc(100% - 2rem);}
  .popupzone .control a.slickPrev {left: 0.75rem;}
  .popupzone .control a.slickNext {right: 0.75rem;}
  .popupzone #popupzoneLst .slider_wrap > a{height:10rem;}
  .popupzone .popupzone_wrap .item2 {margin-top: 2rem;}
  .popupzone .popupzone_wrap .item2 .label {height: auto; line-height: 2rem; padding: 0 1rem; font-size: 0.8rem; margin: 0 0.1rem 0.5rem;}
  .popupzone .popupzone_wrap .item2 a i {margin-left: 0.5rem;}
}