/* �씤�궗留� */
.grtWrap .grtBox {display: flex; flex-direction: column; justify-content: center; /*min-height: 8.5rem;*/ min-height: 10.5rem; border-radius: 1.5rem 1.5rem 0 0; background: url(/images/web/common/sub/grt_bg.png); letter-spacing: -0.07rem; position: relative; z-index: 1;}
.grtWrap .grtBox::before { content: ''; display: block; position: absolute; top: 0.5rem; left: 0.5rem; right: 0.5rem; bottom: 0; background-color: #fff; border-radius: 1rem 1rem 0 0 ; z-index: -1;}
.grtWrap .grtBox::after {content: ''; display: block; position: absolute; bottom: 0; left: 2rem; right: 2rem; border-bottom: 2px dotted #c5c9d6; z-index: -1;}
.grtWrap .grtBox .img {display: none; width: 7rem; height: 8.5rem; border-radius: 1.3rem 1.3rem 1.3rem 0; background: #fafafa; box-shadow:0rem 0rem 0.5rem #deedff; position: absolute; right: 2rem; /*top: -1.7rem;*/ top: 1rem; overflow: hidden;}
.grtWrap .grtBox .img img {width: 100%; height: 100%; object-fit: contain;}
.grtWrap .grtBox .img ~ .txt{background: none;}
.grtWrap .grtBox .txt {color: #111; position: relative; padding: 2rem; padding-right: 11rem; background: url(/images/web/common/sub/grtBox_bg.png) no-repeat right 2rem center;}
.grtWrap .grtBox .txt h3 {font-size: 1.1rem; font-weight: 600; line-height: 1.6rem;}
.grtWrap .grtBox .txt p {font-size: 0.85rem; font-weight: 600; margin-top: 0.5rem;}
.grtWrap .grtTxt {padding: 1.5rem calc(2rem + 2px) 0;}
.grtWrap .grtTxt p {font-size: 0.85rem; color: #222; line-height: 1.5rem;}
/*.grtWrap .grtTxt p + p {margin-top: 1.5rem;}*/
.grtWrap .grtTxt p em {font-weight: 600;}
.grtWrap .grtTxt p.sign {color: #111; font-weight: 500; text-align: right; margin-top: 1.75rem;}
.grtWrap .grtTxt p.sign em {display: inline-block; font-size: 1.1rem; font-style: italic; font-weight: 600; letter-spacing: 0.05rem; margin-left: 0.2rem; position: relative; z-index: 1;}
/* �씤�궗留� : �씠誘몄� O */
.grtWrapImg .grtBox .img {display: block;}
.grtWrapImg .grtTxt {padding-top: 2rem;}

/* �뿰�쁺 */
.historylst {position: relative; padding:1.5rem 0 0 4.2rem; padding-bottom: 1rem; z-index: 1; }
.historylst:before {content: ""; display: block; height: calc(100% - 1.5rem); border-left: 2px solid #c5c9d6; position: absolute; left: 2.75rem; bottom: 0;}
.historylst::after {content: ''; display: block; width: 3.5rem; height: 3.5rem; position: absolute; left: 1.1rem; top: -1.6rem; background: url(/images/web/common/sub/history_icon.png) no-repeat center center / contain; }
.historylst dl {display: flex; align-items: flex-start; position: relative; padding:1rem 0.5rem 1rem 0;}
.historylst dl:first-child::before{content: ''; display: block; position: absolute; top: 0; left: -4.2rem; right: 0; bottom: 0; border-radius: 0 2rem 2rem 2rem; background: #f3f8fd; z-index: -1; }
.historylst dl + dl { border-bottom: 2px dotted #c5c9d6; }
.historylst dl dt {flex-shrink: 0; width:8.25rem; position: relative; z-index: 2; font-size:0.9rem; color: #091f46; font-weight: 600; line-height: normal; }
.historylst dl dt:before {content: ""; display: block; width: 0.5rem; height: 0.5rem; border-radius: 50%; background: #091f46; position: absolute; left: -1.65rem; top: 0.5rem; z-index: 2;}
.historylst dl dt span {display: block; }
.historylst dl dd {position: relative; z-index: 1;}
.historylst dl dd ul {line-height: 1.5rem;}
.historylst dl dd > ul > li {padding-left: 0.8rem;position: relative;display: flex;align-items: flex-start;}
.historylst dl dd > ul > li ul{width: 100%; margin-bottom: 0.3rem;}
.historylst dl dd > ul > li ul li{ font-size: 0.75rem;}
.historylst dl dd > ul > li:before {content: '';width:0.35rem;height: 0.35rem;border-radius: 50%;background: #1b6dd1;position: absolute;left: 0;top: 0.55rem;}
.historylst dl dd > ul > li ~ li {margin-top: 0.5rem;}
.historylst dl dd > ul > li span {display: block;width: 6.7rem;padding-right: 0.5rem;font-size: 0.85rem;color: #1b6dd1;font-weight: 600;word-break: break-all;line-height: 1.4rem; flex-shrink: 0;} /*240514*/

/* �긽吏� */
.symbol .titBox {border-radius:1.5rem; border:2px solid #d2e3f4; padding: 0 1rem 1.75rem; text-align: center; position: relative;}
.symbol .titBox > h3 {display: inline-block; min-width: 16rem; max-width: calc(100% - 2rem); border-radius: 5rem; background: #1b6dd1; padding: 0.7rem 2rem; margin-top: -1.5rem; vertical-align: middle; }
.symbol .titBox.difCol > h3 {background: #4d40b5;}
.symbol .titBox > h3 span {display: block; font-size: 1rem; color: #fff; font-weight: 600;}
.symbol .titBox > p {font-size: 1rem; color: #111; font-weight: 600; text-align: center; margin-top: 0.75rem;}
.symbol .titBox > p.rsp_img {margin-top: 1.85rem;}
.symbol .titBox > p + * {margin-top: 0.75rem;}
.symbol .titBox > span {display: block;}
.symbol .titBox audio {max-width: 100%; margin-top: 1.75rem;}
* ~ .titBox,
.symbol .titBox ~ .titBox,
.symbol .titBox ~ .symbolList,
.symbol .symbolList + .titBox {margin-top: 3rem;}
.symbol .titBox + .btns {text-align: center; margin-top: 1.25rem;}
/* �긽吏뷒 */
.symbol.typeA .symbolList .wrap {padding-top: 1.5rem; position: relative;}
.symbol.typeA .symbolList .wrap + .wrap {margin-top: 1.5rem;}
.symbol.typeA .symbolList .wrap .img {display: flex; justify-content: center; align-items: center; width: 10rem; height: 7.25rem; border-radius: 1.5rem; background: #fff; box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.1); position: absolute; left: 1.5rem; top: 0; overflow: hidden;}
.symbol.typeA .symbolList .wrap .img img {max-width: 100%; max-height: 100%;}
.symbol.typeA .symbolList .wrap .info {min-height: 7.7rem; border-radius: 1.5rem; background: #f9f9f9; padding: 1.5rem; padding-left: 13rem;}
.symbol.typeA .symbolList .wrap .info h4 {display: flex;}
.symbol.typeA .symbolList .wrap .info h4 em {flex-shrink: 0; display: flex; justify-content: center; align-items: center; width: 5.5rem; height: 2.2rem; border-radius: 5rem; font-size: 1rem; color: #fff; font-weight: 600; margin-right: 1rem;}
.symbol.typeA .symbolList .list01 .info h4 em {background: #0eaacf;}
.symbol.typeA .symbolList .list02 .info h4 em {background: #6c74df;}
.symbol.typeA .symbolList .list03 .info h4 em {background: #008c44;}
.symbol.typeA .symbolList .list04 .info h4 em {background: #e33d65;}
.symbol.typeA .symbolList .list05 .info h4 em {background: #ff6d00;}
.symbol.typeA .symbolList .wrap .info h4 span {display: block; padding-top: 0.5rem; font-size: 0.9rem; color: #111; font-weight: 600;}
.symbol.typeA .symbolList .wrap .info ul {margin-top: 0.75rem;}
.symbol.typeA .symbolList .wrap .info ul li {padding-left: 0.7rem; position: relative;}
.symbol.typeA .symbolList .wrap .info ul li + li {margin-top: 0.5rem;}
.symbol.typeA .symbolList .wrap .info ul li:before {content: ""; display: block; width: 0.2rem; height: 0.2rem; border-radius: 50%; background: #1962d1; position: absolute; left: 0; top: 0.55rem;}
.symbol.typeA .symbolList .wrap .info p {margin-top: 0.75rem;}
/* �긽吏뷓 */
.symbol.typeB .symbolList {display: flex; flex-wrap: wrap;}
.symbol.typeB .symbolList .wrap {width: calc((100% - 4.5rem) / 3); margin-right: 2.25rem; position: relative; background: #f9f9f9; border-radius: 1rem;}
.symbol.typeB .symbolList .wrap:nth-child(3n) {margin-right: 0;}
.symbol.typeB .symbolList .wrap:nth-child(n+4) {margin-top: 3rem;}
.symbol.typeB .symbolList .wrap .img {display: flex; justify-content: center; align-items: center; width: 10rem; height: 7.25rem; margin:-1.5rem auto 1rem; border-radius: 1rem; background: #fff; box-shadow: 0rem 0rem 0.5rem rgba(0,0,0,0.1); overflow: hidden;}
.symbol.typeB .symbolList .wrap .img img {max-width: 100%; max-height: 100%;}
.symbol.typeB .symbolList .wrap .info {padding: 0 1rem 1rem 1rem;}
.symbol.typeB .symbolList .wrap .info h4 {text-align: center;}
.symbol.typeB .symbolList .wrap .info h4 em {display: inline-block; min-width: 7rem; border-radius: 5rem; margin-bottom: 0.5rem; padding: 0.4rem 1rem; font-size: 1rem; color: #fff; font-weight: 600; text-align: center; }
.symbol.typeB .symbolList .list01 .info h4 em {background: #2a7dfc;}
.symbol.typeB .symbolList .list02 .info h4 em {background: #05afae;}
.symbol.typeB .symbolList .list03 .info h4 em {background: #009b58;}
.symbol.typeB .symbolList .list04 .info h4 em {background: #ff5893;}
.symbol.typeB .symbolList .list05 .info h4 em {background: #ff7214;}
.symbol.typeB .symbolList .wrap .info h4 span {display: block; font-size: 0.9rem; color: #111; font-weight: 600; text-align: center; margin-bottom: 0.5rem;}
.symbol.typeB .symbolList .wrap .info ul {margin-top: 0.25rem;}
.symbol.typeB .symbolList .wrap .info ul li {padding-left: 0.7rem; font-size: 0.75rem; position: relative;}
.symbol.typeB .symbolList .wrap .info ul li:before {content: ""; display: block; width: 0.2rem; height: 0.2rem; border-radius: 50%; background: #1962d1; position: absolute; left: 0; top: 0.55rem;}
.symbol.typeB .symbolList .wrap .info p {font-size: 0.75rem; margin-top: 0.25rem;}

/* pdf */
.pdfBox .pdf_inner .tit1 {margin-bottom: 0;}

/* 李얠븘�삤�떆�뒗湲� */
.mapInfo .box_st1 {padding: 0.6rem;}
.mapInfo .box_st1 .root_daum_roughmap{width: 100% !important;}
.mapInfo .box_st1 .root_daum_roughmap .wrap_map{ height: 458px !important;}
.mapInfo .info {border-radius:0 0 1rem 1rem; background: #f6faff; padding: 1.5rem; margin-top: -0.5rem;}
.mapInfo .info ul li {display: flex; align-items: flex-start;}
.mapInfo .info ul li + li {margin-top: 0.4rem;}
.mapInfo .info ul li .tit {flex-shrink: 0; display: flex; align-items: center; width: 7rem; padding-right: 0.5rem; font-size: 0.9rem; color: #000; font-weight: 600; word-break: break-all;}
.mapInfo .info ul li .tit i {flex-shrink: 0; display: block; width: 2rem; line-height: 2rem; border-radius: 50%; background: #1b6dd1; font-size: 1.2rem; color: #fff; text-align: center; margin-right: 0.5rem;}
.mapInfo .info ul li .dsc {flex: 1; display: block; padding-top: 0.3rem; font-size: 0.85rem;}
.mapInfo .pubTransInfo {margin-top: 1rem;}
.mapInfo .pubTransInfo .wrap + .wrap {margin-top: 1.5rem;}
.mapInfo .pubTransInfo .wrap .tit2 {margin-bottom: 0.25rem;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li {display: flex; padding-left: 0; position: static;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li + li {margin-top: 0.5rem;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li:before {display: none;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .icon_bus {flex-shrink: 0; display: block; width: 26px; height: 16px; background: url(/images/web/common/sub/ico_traffic_220511.png) no-repeat; font-size: 0; line-height: 0; margin-top: 0.2rem; margin-right: 10px; text-indent: -9999px; overflow: hidden;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus1 .icon_bus {background-position: 0 -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus2 .icon_bus {background-position: -60px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus3 .icon_bus {background-position: -150px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus4 .icon_bus {background-position: -210px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus5 .icon_bus {background-position: -90px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus6 .icon_bus {background-position: -300px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus7 .icon_bus {background-position: -330px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus8 .icon_bus {background-position: -360px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus9 .icon_bus {background-position: -240px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus10 .icon_bus {background-position: -30px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus11 .icon_bus {background-position: -180px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus12 .icon_bus {background-position: -270px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus13 .icon_bus {width: 33px; background-position: 0 -430px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li.ico_bus14 .icon_bus {background-position: -120px -410px;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .txt {display: flex; flex-wrap: wrap;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .txt .txt_item {display: block; font-size: 0.75rem; margin-right: calc(1rem + 4px); position: relative;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .txt .txt_item:last-child {margin-right: 0;}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .txt .txt_item:after {content: ""; display: block; width: 1px; height: 6px; border-radius: 50%; background: #999; position: absolute; right: calc(-0.5rem - 4px); top: calc(50% - 3px); transform: rotate(45deg);}
.mapInfo .pubTransInfo .wrap ul.wrap_list > li .txt .txt_item:last-child:after {display: none;}

/* 湲닿� */
.ruleWrap {line-height: 1.8;}
.ruleWrap .tit2 {background-position: left top 0.6rem;}
.ruleWrap .bu_st1:before,
.ruleWrap .list_st1 > li:before {top: 0.55rem;}
.ruleWrap .bu_st2:before,
.ruleWrap .list_st2 > li:before {top: 0.55rem;}
.ruleWrap .bu_st3:before,
.ruleWrap .list_st3 > li:before {top: calc(0.75rem - 2px);}
.ruleWrap .bu_st4:before,
.ruleWrap .list_st4 > li:before {top: 13px;}
.ruleWrap .list_ol1 > li > span.num {top: 0.1rem;}
.ruleWrap .bu_wnrn:before {top: -0.1rem;}

/* �뿭��援먯옣 */
.prinHistory { background: #ecf4fe; border-radius: 1.5rem; padding: 2rem;}
.prinHistory h3 {padding-top: 2rem; font-size: 1.1rem; color: #091f46; font-weight: 600; text-align: center; position: relative;}
.prinHistory h3:before {content: ""; display: block; width: 3.55rem; height: 1.6rem; background: url(/images/web/common/sub/prinHistory_bg.png) no-repeat center center / cover; position: absolute; left:50%; top: 0; transform: translateX(-50%);}
.prinHistory h3 p{position: relative; display: inline-block; padding: 0 2rem;}
.prinHistory h3 p::before{content: ''; display: block; width: 1rem; position: absolute; top: 50%; transform: translateY(-50%); left: 0; border-bottom: 5px dotted #091f46; }
.prinHistory h3 p::after{content: ''; display: block; width: 1rem; position: absolute; top: 50%; transform: translateY(-50%); right: 0; border-bottom: 5px dotted #091f46; }
.prinHistory ul {display: flex; flex-wrap: wrap; justify-content: space-between; margin-top: 1.5rem;}
.prinHistory ul li {display: flex; width: calc(50% - 0.65rem); background: #fff; border-radius: 0.5rem;box-shadow:0rem 0rem 0.5rem #d3e6ff; padding: 1rem; position: relative;}
.prinHistory ul li:nth-child(n+3) {margin-top: 1.1rem;}
.prinHistory ul li .img {width: 5.5rem; height: 6rem; border-radius: 1rem; overflow: hidden; isolation: isolate; }
.prinHistory ul li .imgEmpty {background: url(/images/web/common/sub/prinHistory_photobg.png) no-repeat center center; background-color: #eaecf2;}
.prinHistory ul li .img img {width: 100%; height:auto;}
.prinHistory ul li .txt {width: calc(100% - 5rem); padding-left: 1.6rem;}
.prinHistory ul li .txt .tit span {display: inline-block; margin-left: -0.5rem; padding: 0.15rem 0.7rem; margin-bottom: 0.2rem; border-radius: 5rem; background: #f1f7ff; font-size: 0.8rem; color: #091f46; font-weight: 600;}
.prinHistory ul li .txt .tit em {display: block; font-size: 1rem; color: #091f46; font-weight: 600;}
.prinHistory ul li .txt .dsc {margin-top: 0.5rem;}

/* 諛섑렪�꽦議고쉶 */
.inquiryBox .box_info {border-radius: 0.5rem; border: 1px solid #4a97ff; background: #fff; box-shadow: 0 0.15rem 0.15rem rgba(198,198,198,0.15); padding: 4.5rem 3rem 2rem; position: relative;}
.inquiryBox .tbl_st + .box_info,
.inquiryBox .btns + .box_info {margin-top: 2.35rem;}
.inquiryBox .box_info:before {content: ""; display: block; width: 7.95rem; height: 8.95rem; background: url(/images/web/common/sub/inqChr01.png) center/contain no-repeat; position: absolute; left: 1.8rem; bottom: -1.2rem; z-index: 1;}
.inquiryBox .box_info:after {content: ""; display: block; width: 6.85rem; height: 8.5rem; background: url(/images/web/common/sub/inqChr02.png) center/contain no-repeat; position: absolute; right: 0.9rem; bottom: -1.2rem; z-index: 1;}
.inquiryBox .box_info .info_tit {min-width: 13.6rem; max-width: calc(100% - 1rem); border-radius: 0.5rem; background: #4a97ff; padding: 0.5rem 1rem; position: absolute; left: -1px; top: -1px;}
.inquiryBox .box_info .info_tit span {display: block; font-size: 1.2rem; color: #fff; font-weight: 700; text-align: center; white-space: nowrap; overflow: hidden;}
.inquiryBox .box_info .info_txt {border-radius: 0.5rem; background: #f9f9fa; padding: 1.8rem 4.9rem; line-height: 1.4rem; text-align: center;}
.inquiryBox .inquiry {border-radius: 0.5rem; border: 1px solid #dbe0e4; padding: 1.7rem 1.7rem 2.2rem; margin-top: 2.5rem;}
.inquiryBox .inquiry .info_tit {font-size: 1.2rem; color: #111; font-weight: 700;}
.inquiryBox .inquiry p {margin-top: 0.5rem;}

/* �븰湲됲솃�럹�씠吏� */
.classList #con_com_box {margin-top: 2.3rem;}
.classList #con_com_box ul {display: flex; flex-wrap: wrap; margin: -0.75rem -0.95rem;}
.classList #con_com_box ul li {width: calc(100% / 3); padding: 0.75rem 0.95rem;}
.classList #con_com_box ul li a {display: block; height: 100%; text-align: center; border-radius: 0.5rem; border: 1px solid #c9ced6; padding: 0.5rem; position: relative; transition: all 0.15s;}
.classList #con_com_box ul li a .img {border-radius: 0.5rem; font-size: 0; line-height: 0; overflow: hidden; isolation: isolate;}
.classList #con_com_box ul li a .img img {width: 100%; height: 8.1rem; object-fit: cover;}
.classList #con_com_box ul li a .tit {margin: 0.75rem 0; position: relative;}
.classList #con_com_box ul li a .tit::after{content:"\e900"; font-family: 'xeicon'; color: #fff; display: block; width: 2rem; height: 2rem; line-height: 1.9rem; text-align: center; font-size: 1.1rem; border-radius: 50%; position: absolute; right: 0.2rem; top: -1.7rem; background: #525c6e; transition: all 0.15s;}
.classList #con_com_box ul li a .tit h4 {font-size: 0.9rem; color: #000000; font-weight: 600; transition: all 0.15s;}
.classList #con_com_box ul li a .tit p {font-size: 0.8rem; text-align: center;}
/* �븰湲됲솃�럹�씠吏� : active */
.classList #con_com_box ul li a:hover,
.classList #con_com_box ul li a:focus{border-color: #1b6dd1;}
.classList #con_com_box ul li a:hover .tit::after,
.classList #con_com_box ul li a:focus .tit::after{background: #1b6dd1;}
.classList #con_com_box ul li a:hover .tit h4,
.classList #con_com_box ul li a:focus .tit h4 {color: #1b6dd1;}

/* �븰湲됲솃�럹�씠吏� : no_data */
.classList #con_com_box ul li.no_data {width: 100%;}
.classList #con_com_box ul li.no_data p {display: flex; justify-content: center; align-items: center; height: 14.45rem; border-radius: 0 0.5rem 0.5rem 0.5rem; border: 1px solid #c9ced6; background: #fff; box-shadow: 0 0.15rem 0.15rem rgba(198,198,198,0.15); padding: 1rem 1rem 0.75rem; position: relative;}
.classList #con_com_box ul li.no_data p:before {content: ""; display: block; width: 3px; height: calc(100% - 3.5rem); max-height: 4.35rem; border-radius: 0 0 3px 3px; background: #b0c4fc; position: absolute; left: -1px; top: -1px; z-index: 1;}
.classList #con_com_box ul li.no_data p:after {content: ""; display: block; width: calc(100% - 1.5rem); max-width: 6.35rem; height: 3px; border-radius: 0 3px 3px 0; background: #4a97ff; position: absolute; left: -1px; top: -1px; z-index: 2;}

/* �븰湲됲솃�럹�씠吏�2 */
.classList2 .class_wrap{position: relative;}
.classList2 .class_wrap ~ .class_wrap{margin-top: 1rem;}
.classList2 .class_wrap .tit{ display: inline-flex; line-height: 1; padding: 1rem 2.25rem; border-radius: 5rem; background: #009eff; align-items: center; justify-content: center; font-size: 1rem; font-weight: 600; color: #fff;}
.classList2 .class_wrap ul{display: flex; flex-wrap: wrap; margin-top: -1.5rem; padding: 2.5rem 1rem 1rem 1rem; background: #e5f4fd; border-radius: 2rem;}
.classList2 .class_wrap ul li{min-width: 6.5rem; background: #fff; margin: 0.37rem; border-radius: 3rem;}
.classList2 .class_wrap ul li a{position: relative; display: flex; align-items: center; height: 100%; padding:0.8rem 2.5rem 0.8rem 1.25rem; font-size: 0.8rem; line-height: 1; font-weight: 500;}
.classList2 .class_wrap ul li a::after{content:"\e900"; font-family: 'xeicon'; color: #fff; display: block; width: 2rem; height: 2rem; line-height: 1.9rem; text-align: center; font-size: 1.1rem; border-radius: 50%; position: absolute; right: 0.2rem; top: 50%; transform: translateY(-50%); background: #525c6e; transition: all 0.15s; transition: all 0.15s;}
.classList2 .class_wrap:nth-child(even) .tit{background: #17ba99;}
.classList2 .class_wrap:nth-child(even) ul{background: #e8f8f5;}

/* �븰湲됲솃�럹�씠吏�2 : active */
.classList2 .class_wrap ul li a:hover::after,
.classList2 .class_wrap ul li a:focus::after{background: #009eff;}
.classList2 .class_wrap:nth-child(even) ul li a:hover::after,
.classList2 .class_wrap:nth-child(even) ul li a:focus::after{background: #17ba99;}


/* �삤�뒛�쓽�뿭�궗 */
.todayHis .form_box{display: flex; border: 1px solid #dfe1e9; padding: 0.5rem 1.5rem;}
.todayHis .form_box h3{font-weight: 500; line-height: 1.8rem;}
.todayHis .form_box select{height: 1.8rem; border-radius: 0.3rem; margin-right: 0.3rem;}
.todayHis .form_box select:first-of-type{margin-left: auto;}
.todayHis .form_box [class^="btn_"]{height: 1.8rem; margin: 0 ; padding: 0 1rem; line-height: 1.8rem; border-radius: 0.3rem; border: 0;}
.todayHis .txt_box{background: #f7f7f7; padding: 1.5rem; line-height: 2rem;}
.todayHis .txt_box .txt_area{background:  url(/images/web/common/sub/todayHis_bg.png);}
.todayHis .txt_box .txt_area p ~ p{margin-top: 2rem;}


/* �궗�씠�듃留�*/
.siteMap li.dep > [class^="depth"] {display: none; }
.siteMap li.dep > a{position: relative; transition: all 0.15s;}
.siteMap li.dep > a::after{content: "\e938"; font-family: 'xeicon'; font-weight: 500; display: block; position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%); font-size: 1.1rem;}
.siteMap li a{display: block;}
.siteMap li a[target="_blank"]{position: relative; padding-right: 2rem !important;}
.siteMap li a[target="_blank"]::after{content:"\e980"; font-family: 'xeicon'; font-weight: 500; display: block; position: absolute; right: 0.5rem; top: 50%; transform: translateY(-50%); font-size: 1.1rem;}
.siteMap .depth01 > ul > li ~ li{margin-top: 2rem;}
.siteMap .depth01 > ul > li > h2{display: inline-block; margin-bottom: 0.5rem; font-size: 1.1rem; font-weight: 700; color: #0f4e93;}
.siteMap .depth02 > ul {display: flex; flex-wrap: wrap; margin: 0 -0.2rem;}
.siteMap .depth02 > ul > li{ width: 25%; padding: 0.2rem;}
.siteMap .depth02 > ul > li > a{display: block; background: #fff; border:1px solid #ddd; padding: 0.5rem; border-radius: 0.3rem;} 
.siteMap .depth02 li a[target="_blank"]::after{font-size: 0.9rem;}
.siteMap .depth03 { border-radius: 0 0 0.5rem 0.5rem; border: 1px solid #115eb0; background: #f2f8ff; padding: 1.1rem 1rem 0.6rem; margin-top: -0.5rem; z-index: 1;}
.siteMap .depth03 > ul > li{margin-top: 0.2rem;}
.siteMap .depth03 > ul > li > a{position: relative; padding-left: 0.7rem;}
.siteMap .depth03 li a::after{font-size: 0.9rem; right: 0;}
.siteMap .depth03 > ul > li > a:before { content: ""; display: block; width: 5px; height: 5px; background: #a7abb1; border-radius: 50%; position: absolute; left: 0; top: 0.5rem; }
.siteMap .depth04 {margin-top: 0.2rem; padding: 0.5rem; border-radius: 0.4rem; background: #fff;}
.siteMap .depth04 > ul > li + li {margin-top: 1px;}
.siteMap .depth04 > ul > li > a {position: relative; padding: 0.1rem; padding-left: 0.7rem; font-size: 0.7rem; color: #222; font-weight: 400;}
.siteMap .depth04 > ul > li > a:before {content: ""; display: block; width: 0.25rem; height: 2px; background: #a7abb1; position: absolute; left: 0; top: 0.55rem;}

/* �궗�씠�듃留� : active */
.siteMap li.active > [class^="depth"] {display: block; }
.siteMap li.dep.active > a{ border: 1px solid #115eb0; color: #115eb0; font-weight: 700;}
.siteMap li.dep.active > a::after{content: "\e931";}

.siteMap .depth02 > ul > li > a:hover,
.siteMap .depth02 > ul > li > a:focus{ border: 1px solid #115eb0; color: #115eb0; font-weight: 700;}

.siteMap .depth03 > ul > li.active > a,
.siteMap .depth03 > ul > li > a:hover,
.siteMap .depth03 > ul > li > a:focus{color: #115eb0; font-weight: 700; border: 0;}

.siteMap .depth03 > ul > li.active > a::before,
.siteMap .depth03 > ul > li > a:hover::before,
.siteMap .depth03 > ul > li > a:focus::before{background: #115eb0;}

.siteMap .depth04 > ul > li > a:hover,
.siteMap .depth04 > ul > li > a:focus{ color: #000; font-weight: 700;}

/* 泥��졃�삩�룄怨� */
.clean_section{position: relative; padding: 2rem 1rem 0 1rem; z-index: 1;}
.clean_section::before{content: ''; display: block; position: absolute; top: 0; left: 0; right: 0; bottom: 5rem; background: #e7f1ff; z-index: -1; border-radius: 1rem;} 
.clean_section .img{text-align: center;}
.clean_section .img img{display: block; max-width: 100%; margin: 0 auto;}
.clean_section .clean_txt{font-size: 1.3rem; text-align: center;}
.clean_section .clean_tit{font-size: 2rem; text-align: center;}
.clean_section .clean_link01{margin: 2rem 0; color: #fff;}
.clean_section .clean_link01 ul{display: flex; justify-content: center; }
.clean_section .clean_link01 ul li{padding: 0.5rem; margin: 0 0.5rem; background: #115eb0; border-radius: 5rem;}
.clean_section .clean_link01 ul li:nth-child(2){background: #017342;}
.clean_section .clean_link01 ul li:nth-child(3){background: #e13d64;}
.clean_section .clean_link01 ul li a{display: flex; flex-direction: column; justify-content: center; height: 4rem; position: relative; padding:0 2rem 0 5rem;}
.clean_section .clean_link01 ul li a img{position: absolute; left: 0; top: 50%; transform: translateY(-50%); background: #fff; border-radius: 50%;}
.clean_section .clean_link01 ul li a p{white-space: nowrap; overflow: hidden;}
.clean_section .clean_link01 ul li a .tit{display: flex; justify-content: space-between; font-size: 1rem; font-weight: 600;}
.clean_section .clean_link01 ul li a .tit::after{content: "\e90b"; font-family: 'xeicon';}
.clean_section .clean_link01 ul li a .txt{ font-size: 0.75rem; }

.clean_bar{ position: relative; padding: 2rem; padding-right: 18.5rem; margin-bottom: 1rem; z-index: 1;}
.clean_bar::before{content: ''; display: block; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background: var(--stepColor); opacity: 0.15; z-index: -1; border-radius: 1rem;}
.clean_bar::after{content: ''; display: block; position: absolute; right: 0; bottom: -3.7rem; width: 17.65rem; height: 16.75rem; background: url(/images/po/sub_com/img_clean0201.png) no-repeat center center / 100%;}
.clean_bar .tit{font-size: 1.5rem; text-align: center; }
.clean_bar .tit span{color: var(--stepColor); font-weight: 600;}
.clean_bar .bar_wrap{background: #fff; border-radius: 5rem; padding: 1rem; margin: 1rem 0; }
.clean_bar .bar_wrap .bar{position: relative; height: 1.5rem; border-radius: 5rem; background: #e5e5e5; }
.clean_bar .bar_wrap .bar .graph{position: relative; background: var(--stepColor);border-radius: 5rem; display: block; width: 0; min-width: 5rem; max-width: 100%; height: 100%; transition: all 1.5s cubic-bezier(0.18, 0.89, 0.32, 1.28); transition-delay: 0.1s;}
.clean_bar .bar_wrap .bar .graph em{display: inline-block; padding: 0 1.5rem; position: absolute; right: 0; top: 50%; transform: translateY(-50%); line-height: 2.5rem; z-index: 2; background: var(--stepColor); color: #fff; border-radius: 5rem; font-size: 1.2rem; font-weight: 500; border-left: 3px solid #fff;}
.clean_bar .bar_wrap .bar .graph em strong::after{content: '�꼦'; font-weight: 400;}
.clean_bar .txt{font-size: 0.9rem; text-align: center;}

.clean_step ul li{display: flex; align-items: center;}
.clean_step ul li ~ li{margin-top: 0.3rem;}
.clean_step ul li span{ background: var(--stepColor); flex-shrink: 0; display: block; width: 9.5rem; margin-right: 0.5rem; line-height: 2rem; text-align: center; padding: 0 1rem; border-radius: 5rem; font-weight: 600; color: #fff; }
.clean_step ul li span em{margin-right: 0.7rem;}

/* 泥��졃�삩�룄怨� : �떒怨꾨퀎 �깋�긽 */
.step01{--stepColor : #0077d1;}
.step02{--stepColor : #017342;}
.step03{--stepColor : #ed6a00;}
.step04{--stepColor : #e40a2e;}
/* //泥��졃�삩�룄怨� : �떒怨꾨퀎 �깋�긽 */

/* 寃뚯떆�뙋由ъ뒪�듃 */
.afterClass{position: relative;}
ul.afterList{ display: flex; flex-wrap: wrap; margin: 0 -0.25rem;}
ul.afterList > li{width: calc(100% / 3); padding: 0.25rem;}
ul.afterList > li .inner{display: flex; flex-direction: column; height: 100%; padding: 1.5rem 1rem 0 1rem; border: 1px solid #c5c9d6; border-radius: 0.5rem; overflow: hidden;}
ul.afterList > li .inner .img{ height: 5.75rem; margin-bottom: 1rem; background: url(/images/po/sub_com/img_bgIcon.png); border-radius: 0.5rem; overflow: hidden;}
ul.afterList > li .inner .img img{display: block; height: 100%; width: auto; margin: 0 auto;}
ul.afterList > li .inner .tit{font-size: 0.85rem; font-weight: 600;}
ul.afterList > li .inner .txt{margin-top: 0.5rem; margin-bottom: 1rem;}
ul.afterList > li .inner .txt li{position: relative; padding-left: 3.5rem; font-size: 0.75rem;}
ul.afterList > li .inner .txt li ~ li{ margin-top: 0.15rem;}
ul.afterList > li .inner .txt li span{position: absolute; left: 0; top: 0; display: block; width: 3.5rem; font-weight: 500;}
ul.afterList > li .inner .info{ flex: 1; background: #f6f6f6; margin: 0 -1rem; padding: 0.5rem 1rem; color: #555;}
ul.afterList > li .inner .info .list_bu{position: relative; padding-left: 0.5rem;}
ul.afterList > li .inner .info .list_bu::before{content: ''; display: block; position: absolute; left: 0; top: 0.55rem; width: 0.25rem; height: 1px; background: #555;}


/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� */
.srh_wrap{ margin-top: 2rem; padding: 1.5rem; border: 1px solid #c8d1db; border-bottom: 2px dotted #c8d1db;} 
form ~ form .srh_wrap{border-top: 0; border-bottom: 1px solid #c8d1db; margin-top: 0; margin-bottom: 2rem;}
.srh_wrap .srh{ margin: -0.2%; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between}
.srh_wrap .srh h5{width: 100%;}
.srh_wrap select{margin: 0.2%; height: 2rem; border:1px solid #c8d1db; box-shadow: none;}
.srh_wrap input{ height: 2rem; margin: 0.2%; border:1px solid #c8d1db; box-shadow: none;}
.srh_wrap .w1{width: 1rem;}
.srh_wrap .w2{width: 2rem;}
.srh_wrap .w3{width: 3rem;}
.srh_wrap .w4{width: 4rem;}
.srh_wrap .w5{width: 5rem;}
.srh_wrap .w6{width: 6rem;}
.srh_wrap .w7{width: 7rem;}
.srh_wrap .w8{width: 8rem;}
.srh_wrap .w9{width: 9rem;}
.srh_wrap .w10{width: 10rem;}
.srh_wrap .mglA{margin-left: auto;}
.srh_wrap .pdrA{padding-right: 0.8rem !important;}
.srh_wrap .srh [class*="btn_"]{border-radius: 0; height: 2rem;}

.srh_tbl table a[class*='btn_']{padding: 0.3rem 0.2rem !important; border-radius: 0.3rem !important;}
.srh_tbl table .list_st2 > li:before{top: 0.85rem;}
#stdtNm{width: 10rem;}
#gradeNm,
#clasNm,
#stdtNo{width: 5rem;}
#expPrps,
#expPlan{width: 100%;}

/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� : �븞�궡 */
.step_st1{margin-top: 0.5rem;}
.step_st1 ol{display: flex; margin: -0.2rem;}
.step_st1 ol li{flex: 1; display: inline-flex; align-items: center; background: #dfecff; margin: 0.2rem; padding: 0.4rem; border-radius: 5rem; font-weight: 500;}
.step_st1 ol li .num{display: inline-flex; align-items: center; justify-content: center; margin-right: 0.5rem; width: 1.5rem; height: 1.5rem; background: #fff; border-radius: 50%; color: #115eb0; font-weight: 600;}
.step_st2{margin-top: 1rem;}
.step_st2 ol li{display: flex; background: #f6f6f6; border-radius: 1rem; padding: 1rem;}
.step_st2 ol li ~ li{margin-top: 0.5rem;}
.step_st2 ol li .num{width: 10rem; padding-right: 1rem; color: #253956; font-size: 0.9rem; font-weight: 600;}

/* 자료관리자 */
.dtaList li{ display:flex; align-items: flex-start; padding:.35rem .75rem; background:#fbfcff; border:1px solid #dadfe6; }
.dtaList li ~ li{border-top:0;}
.dtaList li > a{ margin:.15rem 0 0 !important;}
.dtaList li > a i{ padding-left:0; padding-right:.25rem;}
.dtaList li .info{ flex:1; width:100%;}
.dtaList li .info p{ display:inline-block; margin:.25rem 0; line-height:1.5rem; margin-right:1rem; font-size:.7rem;}
.dtaList li .info p em{ display:inline-block; padding:0 .75rem; font-weight:600; border-radius:1rem; margin-right:.5rem; color:#000; background:#dfe6ee;}

/* 만족도조사 */
.csnst_wrap{ display:flex; flex-wrap:wrap; justify-content: space-between; padding:20px; border:1px solid #b2bccb; background:#fbfcff;}
.csnst_wrap form{ display:flex; flex-wrap:wrap;}
.csnst_wrap .txt{ flex:1; padding-right:.5rem; word-break: keep-all;}
.csnst_wrap .inp li{ display:inline-block;}
.csnst_wrap .pcomment{ width:100%; margin-top:.5rem; border:1px solid #ddd;}
.csnst_wrap .pcomment input[type="text"]{ width:calc(100% - 5rem); height:2rem; line-height:2rem; float:left; border:0; padding:0 .5rem;}
.csnst_wrap .pcomment button{ width:5rem; line-height:2rem; float:left; background:#45495b; color:#fff; text-align:center;}
.csnst_wrap .pcomment button i{ margin-right:.25rem;}


@media (max-width: 1420px) {
	/* 泥��졃�삩�룄怨� */
	.clean_bar::after{width: 15rem; height: 14rem; bottom: -3rem;}

}


@media (max-width: 1024px) {
	/* �삤�뒛�쓽�뿭�궗 */
	.todayHis .txt_box{line-height: 2.105rem;}
	.todayHis .txt_box .txt_area{padding-bottom: 0.3rem;}
	.todayHis .txt_box .txt_area p ~ p{margin-top: 2.105rem;}

	/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� */
	.srh_wrap .srh{justify-content: flex-start;}
	.srh_wrap .mglA{margin-left: 0;}
	.srh_wrap select{width: 49.6%;}
	.srh_wrap .srh [class*="btn_"]{ margin-left: auto;}

	/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� : �븞�궡 */
	.step_st1 ol{flex-wrap: wrap;}
	.step_st1 ol li{min-width: 10rem}

}

@media (max-width: 890px) {

	/* 泥��졃�삩�룄怨� */
	.clean_section .clean_link01 ul{flex-direction: column; align-items: center;}
	.clean_section .clean_link01 ul li{max-width: 25rem; width: 100%;}
	.clean_section .clean_link01 ul li ~ li{margin-top: 0.5rem;}
	.clean_section .clean_link01 ul li a{padding: 0 1rem 0 4rem;}
	.clean_section .clean_link01 ul li a img{width: 3.5rem;}

	.clean_bar{padding: 2rem 1.5rem;}
	.clean_bar::after{display: none;}
	.clean_bar .tit{font-size: 1.2rem;}
	.clean_bar .bar_wrap .bar{height: 1.2rem;}
	.clean_bar .bar_wrap .bar .graph{min-width: 3.3rem;}
	.clean_bar .bar_wrap .bar .graph em{line-height: 2rem; font-size: 1rem; padding: 0 1rem;}
	.clean_step ul li{flex-direction: column; align-items: flex-start;}
	.clean_step ul li ~ li{margin-top: 1rem;}
	.clean_step ul li span{margin-bottom: 0.5rem;}

	/* 寃뚯떆�뙋由ъ뒪�듃 */
	ul.afterList > li{width: 50%;}

}

@media (max-width: 768px) {

	/* �씤�궗留� */
	.grtWrap .grtBox { padding: 1rem;}
	.grtWrap .grtBox .img {position: static; margin: 0 auto 0.75rem;}
	.grtWrap .grtBox .txt{padding: 1rem; padding-right: 1rem; background: none;}
	.grtWrap .grtBox .txt h3 {font-size: 1rem; line-height: 1.5rem;}
	.grtWrap .grtBox .txt p {font-size: 0.8rem;}
	.grtWrap .grtTxt {padding: 1rem 0 0;}
	.grtWrap .grtTxt p {font-size: 0.8rem; line-height: 1.4rem;}
	.grtWrap .grtTxt p.sign em {font-size: 0.85rem;}
	/* �씤�궗留� : �씠誘몄� O */
	.grtWrapImg .grtBox {display: block; min-height: unset;}

	/* �뿰�쁺 */
	.historylst dl{display: block;}
	.historylst dl dd{margin-top: 0.7rem;}
	.historylst dl dd ul li ul li::before{ top: 0.6rem;}

	/* �긽吏� */
	.symbol .titBox {padding: 0 1rem 1.5rem;}
	.symbol .titBox p.rsp_img {margin-top: 1.5rem;}
	.symbol .titBox audio {margin-top: 1.5rem;}
	.symbol .titBox + .titBox,
	.symbol .titBox + .symbolList,
	.symbol .symbolList + .titBox {margin-top: 2.5rem;}
	.symbol .titBox + .btns {text-align: center; margin-top: 1rem;}
	/* �긽吏뷒 */
	.symbol.typeA .symbolList .wrap {padding-top: 0; padding-left: 0;}
	.symbol.typeA .symbolList .wrap .img {border-radius: 1rem 1rem 1rem 0; left: 50%; top: calc(1rem + 2px); transform: translateX(-50%);}
	.symbol.typeA .symbolList .wrap .info {padding: 9.25rem 1rem 1.25rem;}
	.symbol.typeA .symbolList .wrap .info h4 {justify-content: center;}
	.symbol.typeA .symbolList .wrap .info ul {margin-top: 1rem;}
	.symbol.typeA .symbolList .wrap .info ul li:before {top: 0.5rem;}
	.symbol.typeA .symbolList .wrap .info p {margin-top: 1rem;}
	/* �긽吏뷓 */
	.symbol.typeB .symbolList {justify-content: space-between;}
	.symbol.typeB .symbolList .wrap {width: calc(50% - 1rem); margin-right: 0;}
	.symbol.typeB .symbolList .wrap:nth-child(n+3) {margin-top: 3rem;}

	/* 李얠븘�삤�떆�뒗湲� */
	.mapInfo .info {padding: 1rem;}
	.mapInfo .info ul li {flex-direction: column;}
	.mapInfo .info ul li + li {margin-top: 0.9rem;}
	.mapInfo .info ul li .tit {min-width: unset; width: 100%; padding-right: 0;}
	.mapInfo .info ul li .tit i {width: 1.5rem; line-height: 1.5rem; font-size: 0.9rem;}
	.mapInfo .info ul li .dsc {flex: auto; width: 100%; padding-top: 0.1rem; padding-left: 2rem; font-size: 0.8rem;}
	.mapInfo .pubTransInfo .wrap + .wrap {margin-top: 1rem;}

	/* 湲닿� */
	.ruleWrap .tit2 {background-position: left top 0.45rem;}
	.ruleWrap .bu_st4:before,
	.ruleWrap .list_st4 > li:before {top: 10px;}
	.ruleWrap .list_ol1 > li > span.num {top: 0.05rem;}

	/* �뿭��援먯옣 */
	.prinHistory ul li {padding: 1rem 0.75rem; width: 100%;}
	.prinHistory ul li:nth-child(n+2) {margin-top: 1.1rem;}

	/* 諛섑렪�꽦議고쉶 */
	.inquiryBox .box_info {padding: 3.7rem 1rem 1rem;}
	.inquiryBox .box_info:before,
	.inquiryBox .box_info:after {display: none;}
	.inquiryBox .box_info .info_tit {min-width: unset; padding: 0.5rem 2rem;}
	.inquiryBox .box_info .info_tit span {font-size: 1.1rem;}
	.inquiryBox .box_info .info_txt {padding: 1.5rem 1rem;}
	.inquiryBox .inquiry {padding: 1rem 1rem 1.5rem; margin-top: 1rem;}
	.inquiryBox .inquiry .info_tit {font-size: 1.1rem;}

	/* �븰湲됲솃�럹�씠吏� */
	.classList #con_com_box ul li {width: 50%;}

	/* �삤�뒛�쓽�뿭�궗 */
	.todayHis .form_box{flex-wrap: wrap;}
	.todayHis .txt_box{line-height: 2.222rem;}
	.todayHis .form_box h3{width: 100%;}
	.todayHis .txt_box .txt_area p ~ p{margin-top: 2.222rem;}

	/* �궗�씠�듃留� */
	.siteMap .depth02 > ul > li{width: 33.33%;}

	/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� : �븞�궡 */
	.step_st2 ol li{display: block;}
}



@media (max-width: 580px) {

	/* �뿰�쁺 */
	.historylst dl dd ul {line-height: 1.3rem;}
	.historylst dl dd > ul > li{padding-left: 0.8rem;display: block;}
	.historylst dl dd > ul > li:before{top: 0.5rem;}
	.historylst dl dd > ul > li + li {margin-top: 0.75rem;}
	.historylst dl dd > ul > li > span { position: relative; width: 100%; margin-bottom: 0.25rem;}
	.historylst dl dd > ul > li ul{padding-left: 0;}
	.historylst dl dd ul li ul li::before{ top: 0.5rem;}

	/* �뿭��援먯옣 */
	.prinHistory{padding: 2rem 1rem;}

	/* �궗�씠�듃留� */
	.siteMap .depth02 > ul > li{width: 50%;}

	/* 泥��졃�삩�룄怨� */
	.clean_section .clean_txt{font-size: 1rem; margin-top: 0.5rem;}
	.clean_section .clean_tit{font-size: 1.5rem;}

	/* 寃뚯떆�뙋由ъ뒪�듃 */
	ul.afterList > li{width: 100%;}
	
	/* 援먯쇅泥댄뿕�븰�뒿 �떊泥� */
	.srh_wrap input{width: calc(100% - 2rem) !important; margin-right: 0.3rem;}

	/* 만족도조사 */
    .csnst_wrap .txt{ flex:inherit; width:100%; margin-bottom:.5rem;}
    .csnst_wrap .pcomment{ margin-top:1rem;}
}



@media (max-width: 480px) {

	/* �긽吏� */
	.symbol .titBox h3 {min-width: unset; padding: 0.7rem 1rem;}
	/* �긽吏뷓 */
	.symbol.typeB .symbolList .wrap {width: 100%;}
	.symbol.typeB .symbolList .wrap:nth-child(n+2) {margin-top: 3rem;}

	/* �븰湲됲솃�럹�씠吏� */
	.classList #con_com_box ul li {width: 100%;}
		/* �븰湲됲솃�럹�씠吏�2 */
		.classList2 .class_wrap ul li{flex: 1;}

	/* �뿭��援먯옣 */
	.prinHistory h3 p{padding: 0;}
	.prinHistory h3 p::before{display: none;}
	.prinHistory h3 p::after{display: none;}

	/* 자료관리자 */
	.dtaList li{ display:block; text-align:right; padding:.5rem;}
	.dtaList li .info{ text-align: left;}
	.dtaList li .info p:last-of-type{ margin-right:0;}
}



@media (max-width: 380px) {

	/* �씤�궗留� */
	.grtWrap .grtBox {padding: 1rem 0.75rem 0.75rem;}

	/* �뿰�쁺 */
	.historylst{padding-left: 1.3rem;}
	.historylst:before{left: 0.5rem;}
	.historylst::after{width: 2rem; height: 2rem; left: -0.4rem;	top: -0.4rem;}
	.historylst dl dt:before{left: -1.05rem; top: 0.4rem;}

	/* �긽吏� */
	.symbol .titBox > h3{max-width: 100%;}
	.symbol .titBox > h3 span{word-break: keep-all;}
	.symbol .symbolList {padding: 1rem;}
	/* �긽吏뷒 */
	.symbol.typeA .symbolList .wrap .info h4 {flex-direction: column; align-items: center;}
	.symbol.typeA .symbolList .wrap .info h4 em {margin-right: 0;}

	/* �뿭��援먯옣 */
	.prinHistory ul{margin-top: 1rem;}
	.prinHistory ul li {flex-direction: column; align-items: center;}
	.prinHistory ul li .txt {width: 100%; padding-left: 0; margin-top: 1rem;}
	.prinHistory ul li .txt .tit {text-align: center;}
	.prinHistory ul li .txt .tit span,
	.prinHistory ul li .txt .tit em {margin: 0 0.25rem;}
	.prinHistory ul li .txt .dsc {text-align: center; margin-top: 0.5rem;}

	/* 諛섑렪�꽦議고쉶 */
	.inquiryBox .box_info {padding: 3.35rem 0.75rem 0.75rem;}
	.inquiryBox .box_info .info_tit span {font-size: 1rem;}
	.inquiryBox .box_info .info_txt {padding: 1rem 0.75rem;}
	.inquiryBox .inquiry {padding: 0.75rem 0.75rem 1rem;}
	.inquiryBox .inquiry .info_tit {font-size: 1rem;}

	/* �삤�뒛�쓽�뿭�궗 */
	.todayHis .form_box{justify-content: space-between; padding: 0.5rem 1rem;}
	.todayHis .form_box select{width:calc(50% - 0.15rem); margin: 0;}
	.todayHis .form_box select:first-of-type{margin-left: 0;}
	.todayHis .form_box [class^="btn_"]{width: 100%; margin-top: 0.3rem;}
	.todayHis .txt_box{padding: 1rem;}

	/* �궗�씠�듃留� */
	.siteMap .depth02 > ul > li{width: 100%;}

	/* 泥��졃�삩�룄怨� */
	.clean_section::before{bottom: 3rem;}
	.clean_section .clean_txt{font-size: 0.8rem; margin-top: 0.5rem;}
	.clean_section .clean_tit{font-size: 1.2rem;}
	.clean_section .clean_link01 ul li a{height: auto; padding: 0 1rem 0 3rem;}
	.clean_section .clean_link01 ul li a img{width: 2.5rem;}

	.clean_bar{padding: 1.5rem 0.7rem;}
	.clean_bar .tit{font-size: 1rem;}
	.clean_bar .txt{font-size: 0.8rem;}
	.clean_bar .bar_wrap .bar .graph em{font-size: 0.9rem;}
}


/*241007 개인정보처리방침*/
.privacy .tbl_st {overflow: unset;}
.privacy .tbl_st td {position: relative;}
.privacy .tbl_st td .cont {display: none; position: absolute; width: 100%; left: 0; top: 100%; background-color: #0b4ca9; color: #fff; border-radius: 10px; padding: 10px 5px; z-index: 10; box-shadow: 0 0 10px rgba(129, 129, 129, 0.281);}
/*.privacy .tbl_st td:hover .cont, .privacy .tbl_st td:active .cont, .privacy .tbl_st td:focus .cont {display: block;}*/
.privacy .ico img {max-width: 2rem;}
.privacy .ico {position: relative;} /*241015*/
.privacy .ico .subtit {position: absolute;padding: 0.25rem 0.25rem; padding-bottom: 0.125rem; top: 100%;transform: translateX(-3.25rem);width: 5rem;line-height: 1.1;text-align: center;border: 1px dotted #0084c2;background-color: #e8f3ff;font-size: 0.7rem;z-index: 1; word-break: keep-all;}/*241015*/