/* 컬러 */
:root{
    --mainColor : #ff703e;
    --subColor : #3f5489;
    --Color01 : #ffd4c4;
}

/* 통합검색 */
.totalSearch { position:relative; width: 11rem; height: 2rem; padding-right: 2rem; overflow: hidden; background:#f4f4f4; border-radius: 1rem; }
.totalSearch input { padding: 0 10px; width: 100%; height: 2rem; line-height: 2rem; font-size: 0.6rem; border: none; font-family: '돋움', Dotum; background:none; border-radius: 19px;}
.totalSearch button { position: absolute; top: 0; right: 0; padding: 0; width: 2rem; height: 2rem; line-height:2rem; color:#fff; background: var(--subColor); border: none; border-radius: 50%; font-size:0.9rem; }
.totalSearch input::-webkit-input-placeholder { color: #555; }
.totalSearch input::placeholder { color: #555; }

/* gnb color */
/* gnb : default */
#gnb{ background:#fff; }/* gnb 배경색 */
#gnb::before{height: 1px; /*background:var(--mainColor);*/ }/* gnb 하단라인 배경색 : 하단라인 색상 있을경우 background 활성화 */
#gnb .depth01 > ul > li.on > a{ color:#000; } /* 1차메뉴 active 텍스트 색상 */
#gnb .depth01 > ul > li > a{ color:#333; }/* 1차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a:before{ background:var(--mainColor);} /* 1차메뉴 active underline 색상*/
#gnb .depth01 > ul > li > a > span:before{background:#dae7f8; } /* 1차메뉴 active 그림자 색상 */
#gnb .depth02 > ul > li > a{ color:#111; }/* 2차메뉴 텍스트 색상 */
#gnb .depth01 > ul > li > a > .dotBox .dot{ background:var(--mainColor);} /* 1차메뉴 active 불릿 색상 */
#gnb .depth01 > ul > li > a > .dotBox .dot.md{ background:var(--mainColor);} /* 1차메뉴 active 불릿 센터 색상 */
/* gnb : fullDown */
#nav.fullDown .depth02:before{background: var(--mainColor);}/* 2차메뉴 active 배경색 >> 명도 높을때 글자 color 변경 */
#nav.fullDown .depth01 > ul > li.on > .depth02 > ul > li > a{ color: #fff;}/* 2차메뉴 active 텍스트 효과 */
#nav.fullDown .depth01 > ul > li .depth02 > ul > li > a:hover,
#nav.fullDown .depth01 > ul > li .depth02 > ul > li > a:focus,
#nav.fullDown .depth01 > ul > li .depth02 > ul > li.active > a{ background:var(--mainColor); color: #fff;}/* 2차메뉴 active 효과 */
/* gnb : oneDown */
#nav.oneDown .depth02 > ul > li > a:hover,
#nav.oneDown .depth02 > ul > li > a:focus,
#nav.oneDown .depth02 > ul > li.dep.active > a{ color:var(--mainColor);  }/* 2차메뉴 active 텍스트 색상 */
/* gnb : oneFull */
#nav.oneFull .depth02 > ul > li > a:hover,
#nav.oneFull .depth02 > ul > li > a:focus,
#nav.oneFull .depth02 > ul > li.dep.active > a{ color:#fff; background:var(--mainColor); }/* 2차메뉴 active 배경색 */
#nav.oneFull .depth02>ul>li.dep>a:hover>span:before,
#nav.oneFull .depth02>ul>li.dep>a:hover>span:after,
#nav.oneFull .depth02>ul>li.dep>a:focus>span:before,
#nav.oneFull .depth02>ul>li.dep>a:focus>span:after,
#nav.oneFull .depth02>ul>li.dep.active>a>span:before,
#nav.oneFull .depth02>ul>li.dep.active>a>span:after{background: #fff;} /* 2차메뉴 +, - 표시 색상 */
#nav.oneFull .depth03 > ul > li > a:before{background:var(--mainColor);}/* 3차메뉴 블릿 색상 */

/* footer */
#footer { border-top:1px solid #ddd; background: #2a2f39; color:#fff;  }/* footer 배경, 폰트색상, border */
.footer_link li a:before{ border-left:1px solid #ccc; }/* footer link 영역 라인색상 */
.footer_link li a strong { color: var(--Color01); }/* footer link 강조 폰트색상 */
#footer .copyright { color:#fff; }/* copyright 폰트색상 */
#footer .btn_top{ background:var(--subColor); color:#fff;}/* footer 상단이동 버튼 색상 */

/* 모바일 : 메뉴  */
#header .mBtn.mNav{ background: var(--mainColor); color:#fff; border-radius: 50%; }/* 모바일 메뉴 버튼 */
#mNav #mNavClose { border-radius:50%;}/* 모바일 메뉴 닫기 버튼 */
#mgnb li.dep.active > .depth02 { border-color:var(--mainColor); }/* 2차메뉴 active border 색상 */
#mgnb .depth02:before { background:var(--mainColor); }/* 2차메뉴 backgound 색상 */

/* 모바일 : 검색 */
#header .mBtn.mSearch{ background: var(--subColor); color:#fff; border-radius: 50%;}/* 모바일 검색 버튼 */
#mSearch .btnSearch { background: var(--subColor); }
#mSearch .btnClose {border-radius: 50%; } /* 모바일 검색 닫기 버튼 */

/* 서브페이지 : lnb */
#lnb h2{ color:#fff; background: var(--mainColor);} /* 레프트메뉴 타이틀 */
/* 서브페이지 : lnb:active */
#lnb .dep01 > li.active > a{ border-color: var(--mainColor);}

/* location : snsBox */
.snsBox button.active,
.snsBox button:hover,
.snsBox button:focus{ color:#fff; border-color:var(--subColor); background:var(--subColor);}

@media (max-width:1024px){ 
}