/* 상단팝업 */
.upPop .popup_wrap{ height:6.5rem; margin-top:-6.5rem; visibility: hidden;}
#topPop { position:relative; width:100%; -webkit-transition:0.3s; transition:0.3s; background:#2c455f; color:#fff; z-index:100; overflow:hidden;}
#topPop .popup_wrap { position:relative; max-width:60rem; margin-left:auto; margin-right:auto; overflow:hidden; -webkit-transition:0.3s; transition:0.3s;}
#topPop .slick-list{ position:relative; margin:0 1.75rem; padding-top: 0.75rem ; }
#topPop .slick-list:before { content:""; position:absolute; left:-1px; top:0; height:100%; border-left:2px solid #2c455f; z-index: 1;}
#topPop .item a { position:relative; display:flex; align-items: center; justify-content: center; height:3.75rem; padding:0 0.75rem; overflow:hidden; }
#topPop .item a:before { content:""; position:absolute; left:0; top:0; height:100%; border-left:1px dotted rgba(255,255,255,0.5); }
#topPop .item a .img { height:100%; overflow:hidden; border:1px solid transparent; transition: border 0.2s; -webkit-transition: border 0.2s;}
#topPop .item a .img img { max-width:100%; height:100%; }
#topPop .item a dl{ width:100%; display:flex; align-items: center; justify-content: center;}
#topPop .item a dt { width:calc(100% - 4rem); padding-right:0.5rem; font-size:0.75rem; max-height:3.3rem; font-weight:400; word-break:keep-all; line-height:1.1rem; overflow:hidden; }
#topPop .item a dd { width:4rem; text-align:center; line-height:1.3rem; padding:0 0.5rem; border:1px solid #fff; font-size:0.65rem; border-radius:1.5rem; -webkit-transition:opacity 0.2s; transition:opacity 0.2s; opacity: 0.7; }
#topPop .slick-arrow { position:absolute; top:1.8rem; font-size:0;}
#topPop .slick-arrow:before {font-family:"xeicon"; font-size:1.2rem; }
#topPop .slick-prev { left:0; }
#topPop .slick-prev:before {content:"\e93d";}
#topPop .slick-next { right:0; }            
#topPop .slick-next:before {content:"\e940"; }        
#topPop .control { position:absolute; left: 0; right: 0; bottom: 0; line-height:1.8rem; text-align:right; font-size:13px; font-weight:400; margin-top:.15rem; }
#topPop .control .close input[type="checkbox"]{ margin-right:4px;}
#topPop .control .close a{ display:inline-block; vertical-align: top; }
#topPop .control .close a i{ width:1.8rem; height:1.8rem; line-height:1.8rem; text-align:center; font-size:.8rem; color:#fff; margin-left:8px; background:#4c5d6f;}
#topPop .control > a{ position:absolute; left:0; bottom:0.5rem; width:1.4rem; height:1.4rem; line-height:1.4rem; border-radius:50%; text-align:center; font-size:11px; color:#fff; background:#4b5f74;}
#topPop .control > .play{display:none;}
#topPop .control a,
#topPop .control a i{ transition: all 0.2s; -webkit-transition: all 0.2s;}
#topPop .item a:hover dt,
#topPop .item a:focus dt{ text-decoration:underline; }
#topPop .item a:hover dd,
#topPop .item a:focus dd { opacity: 1;}
#topPop .item a:hover .img,
#topPop .item a:focus .img { border-color:#fff;}
#topPop .control > a:hover,
#topPop .control > a:focus,
#topPop .close > a:hover i,
#topPop .close > a:focus i{ background:#35a5b4;}

/* open */
.open.upPop .popup_wrap { margin-top:0; visibility: visible;}

/* popBtn */
.popBtn { display:none; }

/* 레이어팝업 */
.lyrPop {display: none; width: 100%; height: 100%; background: rgba(0,0,0,0.2); position: fixed; top: 0; left: 0; z-index: 999;}
.lyrWrap {width: 95%; max-width: 35.5rem; max-height: 90vh; border-radius: 1rem; background: #fff; box-shadow: 0.2rem 0.2rem 1.05rem rgba(0,0,0,0.09); position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); overflow: auto;}
.lyrPop .tit {background: #076deb; padding: 0.75rem 0; padding-left: 1.5rem; padding-right: 3.5rem;}
.lyrPop .tit h2 {font-size: 1.1rem; color: #fff; font-weight: 600; margin: 0;}
.lyrPop .inner {padding: 0.5rem 1rem 0.75rem;}
.lyrPop .btnClose {display: flex; justify-content: center; align-items: center; width: 2rem; height: 2rem; font-size: 1.4rem; color: #fff; position: absolute; right: 0.75rem; top: 0.5rem;}

/* 방문통계리스트 */
.lyrPop .visList li {display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; padding: 0.25rem 0; padding-left: 1.15rem; font-size: 0.9rem; position: relative;}
.lyrPop .visList li + li {border-top: 1px dashed #ededed;}
.lyrPop .visList li:before {content: ""; display: block; width: 0.4rem; height: 0.4rem; border-radius: 50%; background: #ebebeb; position: absolute; left: 0.15rem; top: 1rem;}
.lyrPop .visList li strong {display: block; padding: 0.25rem 0; color: #076deb; font-weight: 500;}


/* 메인팝업 */
.mainPopup{font-family: 'SCDream', 'Montserrat', 'NotoSans', '돋움', 'Dotum', '굴림', 'Gulim', AppleGothic, UnDotum, Arial, Tahoma, Verdana, sans-serif;}
 
.mainPopup .ui-widget-header{padding: 0 0.5rem; line-height: 2.5rem; background: none; border:0; color: #fff;}
.mainPopup .ui-widget-header .ui-dialog-titlebar-close{ right: 0.5rem; font-size: 0px; background: none; border: 0;}
.mainPopup .ui-widget-header .ui-dialog-titlebar-close::before{content: "\e921"; font-family: 'xeicon'; display: block; text-indent: 0; color: #fff; font-size: 1rem;}
.mainPopup .ui-widget-header .ui-icon{display: none;}

.mainPopup.ui-widget-content{border: 0; background: rgba(0,0,0,0.85); border-radius: 0.5rem; padding: 0;}
.mainPopup.ui-widget-content .ui-dialog-content{display: flex; flex-direction: column; padding: 0rem 0.3rem;}
.mainPopup.ui-widget-content .ui-dialog-content .inner{height:100%; background: #fff; padding: 0.5rem; border-radius: 0.5rem;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li{ border-bottom: 2px dotted #c5c9d6;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a {display: block; font-size: 0.8rem; line-height: 2.5rem; transition: all 0.15s;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a:hover,
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a:focus{font-weight:600; background: #f5f5f5;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a [class*="popupL_"]{ padding: 0.3rem 0.7rem; background: #333; color: #fff; border-radius: 0.3rem;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a [class*="popupL_"][class*="com"]{background: #017342;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a [class*="popupL_"][class*="schl"]{background:  #076deb;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a [class*="popupL_"][class*="New"]{background: #fc467c;}
.mainPopup.ui-widget-content .ui-dialog-content .inner ul li a p{white-space: nowrap; overflow: hidden; text-overflow: ellipsis; width: 100%;}

/* 메인팝업 : 닫기버튼 */
.mainPopup.ui-widget-content .closeListBtn .popClick{display: flex; align-items: center; justify-content: space-between;}
.mainPopup.ui-widget-content .closeListBtn{margin-top: auto;}
.mainPopup.ui-widget-content .closeListBtn a{display: flex; align-items: center; justify-content: center; width: 50%; line-height: 2rem; color: #fff; text-align: center; font-size: 0.75rem;}
.mainPopup.ui-widget-content .closeListBtn a i{margin-right: 0.5rem; font-size: 0.9rem; }
.mainPopup.ui-widget-content .closeListBtn a:hover,
.mainPopup.ui-widget-content .closeListBtn a:focus{font-weight: 600;}

/* 메인팝업 : 이미지 */
.mainPopup .ui-widget-content a{display: block;}
.mainPopup .ui-widget-content a img{display: block; width: 100%; height: 100%; object-fit: contain; margin-bottom: 0.3rem;}

/* 배너리스트 */
.lyrPop .bnList{ padding:1rem 0; display:flex; flex-wrap: wrap;}
.lyrPop .bnList li{ width:33.33%; padding:2px .5rem;}
.lyrPop .bnList li a{ display:block; text-align:center;}
.lyrPop .bnList li a img{ max-width:100%; height:auto;} 

/* 첨부파일 */
/*
.popup-down-wrap {
	padding:10px;
	margin-bottom:3px;
	background:#fff;
}
.popup-down-wrap .popup-down-dv {
	margin-top:5px;
}
.popup-down-wrap .popup-down-dv:first-of-type {
	margin-top:0;
}
*/
.popup-down-wrap {
	padding:10px;
	margin-bottom:5px;
}
.popup-down-wrap .popup-down-dv {
	margin-top:5px;
}
.popup-down-wrap .popup-down-dv:first-of-type {
	margin-top:0;
}
.popup-down-wrap .popup-down-dv {
	color:#fff;
}
.popup-down-wrap .popup-down-dv a {
	color:#fff;
}
.popup-down-wrap .popup-down-dv a:hover {
	color:#ccc;
}

@media screen and (max-width: 1240px){
    
    /* topPop */    
    #topPop .control > a{ left:0.5rem; bottom:.25rem;}
}

@media screen and (max-width: 1024px){

    /* layout */ 
    #container { -webkit-transition:padding 0.3s; transition:padding 0.3s; padding-top:3.5rem;}
    #header, 
    #header .mBtn, #header h1, #mSearch{  -webkit-transition:top 0.3s; transition:top 0.3s;}

    /* topPop */
    #topPop { position:fixed; top:0; left:0; }
    #topPop .item a:before{ display:none;}

    .open.upPop #container{ padding-top:calc(6.5rem + 65px); }
    .open.upPop #header { top:6.5rem; }
    .open.upPop #mSearch{ top: 10rem; }
    .open.upPop #topPop{ height:6.5rem;}
}

@media screen and (max-width:768px){
    
    /* topPop */
    #topPop .pop_close{font-size:14px; right:1rem;}
}